/* main {
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
} */








/* Global layout for responsiveness */
@media (max-width: 768px) {
  .search-section {
    flex-direction: column;
    align-items: center;
  }

  .search-section input {
    width: 80%;
  }

  .search-section button {
    width: 80%;
    margin-top: 10px;
  }
}

